# SSO Auth
<IfModule mod_shib>
Require shibboleth
AuthType shibboleth
ShibRequireSession Off
ShibExportAssertion On
</IfModule>
<IfModule auth_mellon_module>
AuthType "Mellon"
MellonEnable "info"
MellonEndpointPath /mellon
MellonSamlResponseDump On
MellonSPentityId "https://%{SERVER_NAME}/"
MellonSPMetadataFile /etc/mellon/sp-metadata.xml
MellonSPCertFile /etc/mellon/sp-cert.pem
MellonSPPrivateKeyFile /etc/mellon/sp-key.pem
MellonIdPMetadataFile /etc/mellon/dev-FederationMetadata.xml
</IfModule>
