<config>
	<ftsAddress>https://webfts-dev.cern.ch:8446</ftsAddress>
	<jobToList>100</jobToList>
	<endpointListUrl>https://webfts.cern.ch/endpointList</endpointListUrl> 
	<proxyCertHours>12</proxyCertHours>
	<cernboxBaseUrl>root://eosdevbox.cern.ch/eos/devbox/user/</cernboxBaseUrl>
	<VOs>
		<VO>atlas</VO>
		<VO>auger</VO>
		<VO>biomed</VO>
		<VO>bitface</VO>
		<VO>cms</VO>
		<VO>dteam</VO>
		<VO>lhcb</VO>
		<VO>ops</VO>
	</VOs>
</config>
