<config>
    <ftsAddress>https://webfts.cern.ch:8443</ftsAddress>
    <lmtWebsocketEndpoint>wss://lmt.cern.ch:8080/socket</lmtWebsocketEndpoint>
    <lmtHealthCheckEndpoint>https://lmt.cern.ch:8080/health-check</lmtHealthCheckEndpoint>
    <jobToList>100</jobToList>
    <endpointListUrl>https://webfts.cern.ch/endpointList</endpointListUrl>
    <proxyCertHours>12</proxyCertHours>
    <cernboxBaseUrl>root://eosdevbox.cern.ch/eos/devbox/user/</cernboxBaseUrl>
    <VOs>
        <VO>atlas</VO>
        <VO>auger</VO>
        <VO>biomed</VO>
        <VO>bitface</VO>
        <VO>cms</VO>
	<VO>dteam</VO>
        <VO>juno</VO>
        <VO>lhcb</VO>
        <VO>ops</VO>
    </VOs>
</config>
