# SSO Auth
Header set Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
Header set Refresh "0; url=/"
<IfModule mod_shib>
Require shibboleth
AuthType shibboleth
ShibRequireSession On
ShibExportAssertion On
</IfModule>
<IfModule auth_mellon_module>
AuthType "Mellon"
MellonEnable "auth"
MellonEndpointPath /mellon
MellonSamlResponseDump On
MellonSPentityId "https://%{SERVER_NAME}/"
MellonSPMetadataFile /var/www/webfts/metadata-mellon.xml
MellonSPCertFile /etc/grid-security/sp-cert.pem
MellonSPPrivateKeyFile /etc/grid-security/sp-key.pem
MellonIdPMetadataFile /etc/shibboleth/dev-FederationMetadata.xml
</IfModule>
