.carousel-control {
  color: #000;
  font-size: 35px;
  text-shadow: none;
  position: relative; }

.carousel-control.left,
.carousel-control.right {
  background-image: none;
  background-repeat: no-repeat; }

.carousel-control.left {
  right: 5%; }

.carousel-control.right {
  left: 5%; }

/*
* Carousel fade effect
*/
.carousel.c-fade .item {
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out; }

.carousel.c-fade .active.left,
.carousel.c-fade .active.right {
  left: 0;
  z-index: 2;
  opacity: 0;
  filter: alpha(opacity=0); }

.carousel.c-fade .next,
.carousel.c-fade .prev {
  left: 0;
  z-index: 1; }

.carousel.c-fade .carousel-control {
  z-index: 3; }

/*
 * Large desktop 
 * Resolution
 * from:
 * 
 * 19" (1440 x 900) CHECKED
 *           20", 22", 23", CHECKED
 * to: 24" (1920 x 1200) CHECKED
 */
@media (min-width: 1439px) {
  .carousel-cust-container {
    background-image: url("/img/slideshow/mac-transp.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 365px;
    width: 635px; }

  #this-carousel-id {
    left: 11.6%;
    top: -4%; }

  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    left: 0;
    z-index: 5;
    max-height: 35%;
    max-width: 80%;
    text-align: center;
    text-shadow: 0.2em 0.3em 0.3em black !important; } }
/*
* Resolution :
* Devices: Notebooks
* 13" (1280 x 800)
* 15" (1366 x 768)
*/
@media (min-width: 1279px) and (max-width: 1367px) {
  .carousel-cust-container {
    background-image: url("/img/slideshow/mac-transp.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /*height: 450px;
    width: 631px;*/
    height: 365px;
    width: 635px; }

  #this-carousel-id {
    left: 11.6%;
    top: -4%; }

  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    left: 0;
    z-index: 5;
    max-height: 35%;
    max-width: 80%;
    text-align: center;
    text-shadow: 0.2em 0.3em 0.3em black !important; } }
/*
* Resolution :
* Devices: Notebooks
* 10" (1024 x 600)
* 12" (1024 x 768)
* 
*/
@media (min-width: 980px) and (max-width: 1025px) {
  .carousel-cust-container {
    background-image: url("/img/slideshow/mac-transp.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 265px;
    width: 450px; }

  #this-carousel-id {
    left: 11.4%;
    top: -4%; }

  .carousel-inner {
    width: 320px; }

  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    left: 0;
    z-index: 5;
    height: 35%;
    width: 320px;
    padding-top: 0;
    text-align: center;
    text-shadow: 0.2em 0.3em 0.3em black !important; } }
/* Portrait tablet to landscape and desktop */
@media only screen and (width: 768px) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  .carousel-cust-container {
    background-image: url("/img/slideshow/mac-transp.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 265px;
    width: 450px; }

  #this-carousel-id {
    left: 11.4%;
    top: -4%; }

  .carousel-inner {
    width: 320px; }

  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    left: 0;
    z-index: 5;
    height: 35%;
    width: 320px;
    padding-top: 0;
    text-align: center;
    text-shadow: 0.2em 0.3em 0.3em black !important; } }
/* Landscape phone to portrait tablet */
/* Landscape phone and down */
