/*
 * Very Large desktop 
 * Resolution
 * from: 23" (1920 x 1080) CHECKED 21-7
 * to: 24" (1920 x 1200)   CHECKED 21-7
 */
@media (min-width: 1920px){


  .sticky-bottom{
    left: 22%;
/*    margin-left: -200px;
    margin-top: -100px;*/
    margin-left: 5%;
    margin-top: -5%;
    top: 70%;
  }

  .sticky-bottom-continue{
    left: 22%;
    /*left: 25%;*/
    margin-left: 5%;
    margin-top: -8%;
    top: 85%;
  }

  .runew-label-1,
  #continue-label,
  #continue-label-earth{ 
    font-size: 38px;
    width: 400px;
  }

  .button {
    width: 400px;
    height: 150px;
    background-size: 90px 150px;
    left: 19%;
  }

  .jumbotron-cust-class{
    font-size: 20px;
  } 

  .slide{
    top: 30px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height:100%;
    position: relative;
    /*padding: 30px;*/
    padding: 5%;
  }
  
  #main-area-slide1{
    padding: 8% 4%;
  }

  #front-left-block{
    padding: 5% 1%;
  }


  #front-right-block{
    padding: 0% 10% 1% 1%;
    margin-top: -30px;
  }


  /*
  *
  * Parts of Part-2
  *
  */

  .info-block-desc-dark {
    font-size: 25px;
    margin-top: 18%;
  }

  .info-block-header-desc{
    padding: 3% 2%;
    font-size: 25px;
    font-weight: bold;
  }

  .info-block-desc,
  .info-block-desc-dark{
    padding: 0 2%;
    font-size: 18px; 
  }
  /*
  *
  * Parts of slide-3
  *
  */

  .info-block-black{
    padding: 0 2%;
    font-size: 25px; 
    margin-top: 18%;
  }

  /*
  *
  * Parts of slide-4
  *
  */

  #info-block-desc-dark-sl4{
      margin-top: 40%;
      height: 240px;
  }






}






/*
 * Large desktop 
 * Resolution
 * from: 19" (1440 x 900)  CHECKED 21-7
 *       20",              CHECKED 21-7
 * to :  22" (1680 x 1050) CHECKED 21-7
 */
@media (min-width: 1440px) and (max-width: 1680px){


  .sticky-bottom{
    /*bottom: 20%;
    left: 20%;*/
    left: 22%;
    margin-left: 5%;
    width: 400px;
    margin-top: -6%;
    top: 70%;
  }

  .sticky-bottom-continue{
/*    bottom: 10%;
    left: 20%;*/
    left: 22%;
    /*margin-left: -200px;*/
    margin-left: 5%;
    margin-top: -6%;
    top: 85%;
    width: 400px;

  }


  .runew-label-1,
  #continue-label,
  #continue-label-earth{ 
    font-size: 38px;
    width: 400px;
    left: 20%;
    margin-top: 8%;
  }

  .runew-label-1{
    /*left: 20%;*/
  }

  .button {
    /*width: 90px;*/
    width: 400px;
    height: 150px;
    background-size: 90px 150px;
    margin-top: -7%;
    /*left: 12.5%;*/
    left: 58%;

  }

  .jumbotron-cust-class{
    font-size: 20px;
  } 

  .slide{
    top: 30px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height:100%;
    position: relative;
    /*padding: 30px;*/
    padding: 5%;
  }
  
  #main-area-slide1{
    padding: 8% 4%;
  }

  #front-left-block{
    padding: 5% 1%;
  }


  #front-right-block{
    padding: 0% 10% 1% 1%;
    margin-top: -3%;
  }


  /*
  *
  * Parts of Part-2
  *
  */

  .info-block-desc-dark {
    font-size: 25px;
    margin-top: 18%;
  }

  .info-block-header-desc{
    padding: 3% 2%;
    font-size: 25px;
    font-weight: bold;
  }

  .info-block-desc,
  .info-block-desc-dark{
    padding: 0 2%;
    font-size: 18px; 
  }
  /*
  *
  * Parts of slide-3
  *
  */

  .info-block-black{
    padding: 0 2%;
    font-size: 25px; 
    margin-top: 18%;
  }

  /*
  *
  * Parts of slide-4
  *
  */

  #info-block-desc-dark-sl4{
      margin-top: 40%;
      height: 240px;
  }


}  

/* Rotated screen ipad  */
@media only screen and (width:768px) and (device-width:768px) and (device-height:1024px) and (orientation: portrait) {
.sticky-bottom{
/*    left: 20%;
    top: 74%;
    margin-left: -18%;
    margin-top: -4%;*/
  }

  .sticky-bottom-continue{

    left: 22%;
    margin-left: -250px;
    margin-top: -100px;
    bottom: 5%;
  }

  .runew-label-1,
  #continue-label,
  #continue-label-earth{
    font-size: 28px;
    width: 400px; 

  }

  .button {
    width: 400px;
    height: 75px;
    background-size: 50px 75px;
    left: 14%;
  }
  
  #main-area-slide1{
    padding: 15% 5% 0% 5%;
  }
  
  .news-title{
    font-size: 20px !important;
  }

  .news-content{
    font-size: 14px !important;
  }


  #front-left-block{
    padding: 4% 0%;
  }
 

  #front-right-block{
    padding: 1% 0;
  }


}



/*
* Resolution :
* Devices: Notebooks
* 13" (1280 x 800) CHECKED 21-7
* 15" (1366 x 768) CHECKED 21-7
*/
@media (min-width: 1280px) and (max-width: 1366px){

  .jumbotron {
    padding: 0.5em 0.6em;
      h1 {
        font-size: 18px;
      }
      p {
        font-size: 12px;
        .btn {
          padding: 0.5em;
        }
      }
  }
  .sticky-bottom{
/*    bottom: 13%;
    left: 25%;*/
    left: 18%;
    margin-left: -4%;
    margin-top: -4%;
    top: 74%;


  }




  .sticky-bottom-continue{
/*    bottom: 11%;
    left: 25%; */
    left: 18%;
    margin-left: -4%;
    margin-top: -4%;
    /*top: 85%;*/
    bottom: 5%;
  }

  .runew-label-1,
  #continue-label,
  #continue-label-earth{
    font-size: 28px;
    width: 400px; 

  }

  .button {
    /*width: 50px;*/
    width: 400px;
    height: 75px;
    background-size: 50px 75px;
    /*left: 20%;*/
    left: 21%;
  }

  #main-area-slide1{
    /*padding: 0% 5%;*/
    padding: 8% 5% 0% 5%;
  }

  #front-left-block{
    padding: 6% 0%;
  }
 
  #front-right-block{
    padding: 1% 0;
    margin-top: -2%;
    margin-left: 2%;
  }

  /*
  *
  * Parts of slide-2 
  *
  */

  .info-block-desc-dark {
      font-size: 14px;
      margin-top: 30%;
      line-height: 1.2;
  }
  #info-block-desc-dark-fixed{
      width: 680px;
      height: auto;
  }
  .info-block-header-desc{
      padding: 2% 1% 0% 2%;
      font-size: 22px;
  }

  .info-block-desc{
      padding: 1% 2%;
      font-size: 16px;
  }

  /*
  *
  * Parts of Slide-3
  *
  */
  .info-block-black{
    font-size: 14px;
    height: auto;
    margin-top: 30%;
    line-height: 1.2;
  }  

  /*
  *
  * Parts of slide-4
  *
  */
  #info-block-desc-dark-sl4{
      margin-top: 40%;
      height: 150px;
  }

}


/*
* Resolution :
* Devices: Netbooks
* 10" (1024 x 600) CHECKED 21-7
* 12" (1024 x 768) CHECKED 21-7
*/

@media (min-width: 980px) and (max-width: 1024px){

  /*.m-top-50per { margin-top: 50%; }*/


  .jumbotron {
    padding: 0.5em 0.6em;
      h1 {
        font-size: 18px;
      }
      p {
        font-size: 12px;
        .btn {
          padding: 0.5em;
        }
      }
  }
  .sticky-bottom{
/*    bottom: 12%;
    left: 28%;*/

    left: 30%;
    margin-left: -4%;
    margin-top: -3%;
    top: 70%;



  }

  .sticky-bottom-continue{
/*    bottom: 10%;
    left: 20%;*/
    left: 25%;
    margin-left: -4;
    margin-top: -3%;
    top: 85%;
  }
/*
  .sticky-bottom-continue{
    bottom: 11%;
    left: 25%; 
  }
*/
  .runew-label-1,
  #continue-label,
  #continue-label-earth{
    font-size: 22px;
    width: 200px; 

  }

  .button {
    width: 200px;
    height: 75px;
    background-size: 50px 75px;
    left: 17%;
    /*left: 20%;*/

/*    bottom: 0%;
*/  
  }

  #main-area-slide1{
    /*padding: 0% 5%;*/
    padding: 8% 5% 0% 5%;
  }

  #front-left-block{
    padding: 4% 0%;
  }
 

  #front-right-block{
    padding: 1% 0;
  }

  /*
  *
  * Parts of slide-2 
  *
  */

  .info-block-desc-dark {
      font-size: 14px;
      margin-top: 30%;
      line-height: 1.2;
      /*padding-bottom: 1%;*/
  }
  #info-block-desc-dark-fixed{
      width: 600px;
      height: auto;
  }

  .info-block-header-desc{
      padding: 2% 1% 0% 2%;
      font-size: 20px;
  }

  .info-block-desc{
      padding: 1% 2%;
      font-size: 14px;
  }

  /*
  *
  * Parts of Slide-3
  *
  */
  .info-block-black{
    font-size: 14px;
    /*width: 600px;*/
    height: auto;
    margin-top: 30%;
    line-height: 1.2;
  }  

  /*
  *
  * Parts of slide-4
  *
  */

  #info-block-desc-dark-sl4{
      margin-top: 40%;
  }

}  



/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px){



  .button {
      right: -10%;
      background-size: 50px 75px;

  }

  .runew-label-1,
  #continue-label,
  #continue-label-earth {
    font-size: 22px;
  }



}

@media (max-width: 767){



}
/* Landscape phone and down */
@media (max-width: 480px){


}