.voffset   { margin-top: 2px;   }
.voffset-1 { margin-top: 5px;   }
.voffset-2 { margin-top: 10px;  }
.voffset-3 { margin-top: 15px;  }
.voffset-4 { margin-top: 30px;  } 
.voffset-5 { margin-top: 40px;  }
.voffset-6 { margin-top: 60px;  }
.voffset-7 { margin-top: 80px;  }
.voffset-8 { margin-top: 100px; }
.voffset-9 { margin-top: 150px; }
.top-200   { margin-top: 200px; }
.top-120   { margin-top: 120px; }

html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

.navigation {
	padding: 0;
	margin: 0;
	background: #333;
	position: fixed;
	top: 0;
	z-index: 999;
	width: 100%;

	li {
		display: inline-block;
		padding:  5px 10px;

		 a{
		 	color: #e1e1e1;
		 	text-decoration: none;

		 	a:hover {
		 		color:lighten(#e1e1e1, 20%);
		 	}	
		 }
	}

	.active {
		background-color:  lighten(#333, 20%);
	}
}

.nav-justified{

	border-radius: 1.5px solid #CCCCCC;
	margin-right: 25px;
	text-align: center;
}

.container-central{
	width: 100%;
	height: 100%;
	margin-top: 107px;

}

.main{
	margin-top: 30px;
	height: 100%;
	width: 100%;
}
/*
.slide{

	top: 30px;
	margin-top: 200px;
	background-attachment: fixed;
	background-repeat: no-repeat;
	width: 100%;
	height:100%;
	position: relative;
	padding: 5%;
}
*/

.jumbotron{
	font-size: 20px;
}

.button-and-label-block{
	position: absolute;
}


.button {
	display: block;
	width: 90px;
	height: 150px;
	position: absolute;
	/*
	bottom: 150px;
	*/
	left: 50%;
	margin-left: -4%;
	
	background-image: url(../../img/arrow-down2.png); 
	background-size: 90px 150px;
	background-repeat: no-repeat;
	opacity: 0.9;
	z-index: 5;

    /*position: relative;
	margin-bottom: 3%;
	*/

}
.central-icon-area{
	height: 100%;
	width: 100%;
}
.container-top-outer{

	top: 0px;
	position: fixed;
	z-index: 100;
	/*background-color: #FFF;
	*/
	width: 100%;
	height: 108px;
	z-index: 10;
}

.container-top-inner {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  /*width: 1170px;*/
  width: 100%;
  display: table;
  background-color: #FFFFFF;
  height: 140px;
  z-index: 10;
}

.container-top-inner:before,
.container-top-inner:after {
  display: table;
  content: " ";
}

.container-top-inner:after {
  clear: both;
}

.container-top-inner:before,
.container-top-inner:after {
  display: table;
  content: " ";
}

.container-top-inner:after {
  clear: both;
}

.divider{
	height: 120px;
	text-align: center;
	width: 100%;
	z-index: 10;
}

.button-up{
	display: block;
	width: 105px;
	height: 105px;
	/*position: absolute;*/
	bottom: 150px;
	/*left: 50%;
	margin-left: -7%;
	*/
	background-image: url(../../img/arrow-up.png); 
	background-size: 105px 105px;
	background-repeat: no-repeat;
	opacity: 0.9;

    /*position: relative;*/
	margin-bottom: 3%;
}


.border-element{

	border-style: dotted;
	border-width: thin;
	border-spacing: 1px 10px;
}
/*
.main-button-area {

	margin-top:-50px; /* CONTINUE 

}
*/

/*
.main-top-center-grid{
	margin-top: 5%;
	margin-bottom: 10%;
	margin-left: -8%;
    margin-right: 20%;
}
*/


/*
#front-left-block:hover{
	background-color: rgba(56, 57, 57, 0.07);
}
#front-left-block{
	font-family: Arial;
	background-color: rgba(31, 91, 153, 0);
	margin-top: 12%;
	/*margin-bottom: 100px;
	color: #10101b;


  	font-size: 13px;
    line-height: 1.1;

}

#front-right-block{
	margin-top: 50px;
	margin-bottom: 100px;
}

*/
#slide1{

    background-image: url("/paraFiles/img/slide1/metal-main-back.jpg");
    background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size:  cover;
    z-index: 0;
  

}

#slide2{
	background-image: url(../../img/slide2/sl-storage.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size:  cover;
	z-index: 9;
}

.column{
	background-color: #FFFFFF;

}

#readMore{
	text-align: left;
}

.continue-label{
	font-size: 42px;
	text-shadow: 0.2em 0.3em 0.2em black !important;
	margin-top: 25px;
}

#runew-label-1{ 
	color: #1f2136;
    font-size: 38px;
    text-align: center;
    text-shadow: 0 0.1em 0.2em white;
}

#continue-label-sl-2,
#continue-label-sl-4{
	color: #FFFFFF;
}

#continue-label-sl-3{
	font-size: 42px;
	color: #FFFFFF;
	/*color: #000000;*/
	text-shadow: 0 0.2em 0.1em black !important;
}

/*
.info-block-header-desc{
	padding: 8px 15px 0px 15px;
	font-size: 25px;
	font-weight: bold;
}

.info-block-desc,
.info-block-desc-dark,
.info-block-desc-light,
.info-block-transparent{
	padding: 0 2%;
	font-size: 18px; 
}
*/

.info-block-desc-dark{
	background-color: rgba(31,33,54,0.8);
	box-shadow: 5px 10px 40px 10px #10101b;
    color: #ffffff;
    padding-top: 5%;
    padding-bottom: 3%;
}
.info-block-desc-light{
	background-color: rgba(255,255,255,0.7);
	box-shadow: 0px 12px 14px 0px;
	color: #000000;
}
.info-block-black{
	/*
	background-color: #1F2136;
	*/
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    box-shadow: 15px 20px 60px 20px #000000;
    color: #ffffff;
    margin-top: 30px;
    padding-bottom: 30px;
    padding-top: 50px;
}

#info-block-xs-image-sl-3{
	min-height: 200px;
	min-width: 400px;
}

#info-block-image-sl-3{
	background-image: url(../../img/slide3/FTSearth.png);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	box-shadow: 5px 10px 50px 10px #000000;
}

.info-block-image{
	height: 360px;
	width: 590px;
	min-height: 300px;
	min-width: 500px;
	z-index: 100;
}

#slide3 {

	/*background-color: #1F2136;*/
	background: url('../../img/slide3/FTSearth2.png');
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size:  cover;
	z-index: -9;
}
#block-img-3{
	background-image: url(../../img/slide3/FTSearth.png);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size:  cover;
	box-shadow: 5px 10px 40px 10px #000000;
}

#slide4{
	background-image: url(../../img/slide4/blue-f.png);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size:  cover;
	z-index: 9;
}


/* Large desktop */
@media (min-width: 1200px){


	.slide{
		top: 30px;
/*		margin-top: 200px;
*/
		background-attachment: fixed;
		background-repeat: no-repeat;
		width: 100%;
		height:100%;
		position: relative;
		/*padding: 30px;*/
		padding: 5%;
	}
	
	.main-top-center-grid{
		margin-top: 5%;
		margin-bottom: 10%;
		margin-left: -8%;
	    margin-right: 20%;
	}

	#front-left-block:hover{
		background-color: rgba(56, 57, 57, 0.07);
	}

	#front-left-block{
		font-family: Arial;
		background-color: rgba(31, 91, 153, 0);
		margin-top: 12%;
		/*margin-bottom: 100px;*/
		color: #10101b;


	  	font-size: 13px;
	    line-height: 1.1;

	}

	#front-right-block{
		margin-top: 50px;
		margin-bottom: 100px;
	}


	.info-block-header-desc{
		padding: 8px 15px 0px 15px;
		font-size: 25px;
		font-weight: bold;
	}

	.info-block-desc,
	.info-block-desc-dark,
	.info-block-desc-light,
	.info-block-transparent{
		padding: 0 2%;
		font-size: 18px; 
	}


}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px){

	.slide{

/*		margin-top: 100px;
*/		background-attachment: fixed;
		background-repeat: no-repeat;
		width: 100%;
		height:100%;
		position: relative;
		/*padding: 30px;*/
		padding: 5%;
	}

	.main-top-center-grid {
	    margin: 5% 20% 10% -14%;
	    padding: 0 8%;
	}

	#front-left-block {
	    background-color: rgba(31, 91, 153, 0);
	    color: #10101b;
	    font-family: Arial;
	    font-size: 13px;
	    line-height: 1.1;
	    margin-top: 12%;
	    padding-left: 8%;
	    padding-right: 2%;
	}
	#front-right-block {
	    margin-bottom: 100px;
	    margin-top: 50px;
	}
	.carousel-cust-container {
	    background-image: url("/img/slideshow/mac-transp3.png");
	    background-position: center center;
	    background-repeat: no-repeat;
	    background-size: 100% 100%;
	    height: 345px;
	    width: 627px;
	}
	#this-carousel-id {
	    left: 14%;
	    top: 1%;
	}


	.info-block-header-desc {
		margin-top: 100px;
	    font-size: 16px;
	    font-weight: bold;
	    padding: 8px 15px 0;
	}
	.info-block-desc,
	.info-block-desc-dark,
	.info-block-desc-light,
	.info-block-transparent{
		padding: 0 2%;
		font-size: 14px; 
	}


}
/* Landscape phone to portrait tablet */
@media (max-width: 767){

}
/* Landscape phone and down */
@media (max-width: 480px){


}